@font-face {
    font-family: sharp;
    src: url(/src/fonts/sharp-serif.ttf);
}

@font-face {
    font-family: roboto;
    src: url(/src/fonts/Roboto/Roboto-Regular.ttf);
}


body {
    color: rgb(238, 221, 221);
    display: grid;
    grid-template-columns: minmax(20px, 300px) minmax(915px, 1fr) minmax(20px, 300px);
    margin: 0;
    height: 100vh;
    font-family: roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
}

.page-wrapper {
    /* border-left: solid 4px rgb(41, 212, 235);
    border-right: solid 4px rgb(41, 212, 235); */
    box-shadow: 1px 0px 20px 0px rgb(83, 198, 221);
    background-color: rgb(0, 0, 0);
    /* background-color: #44a4ad; */

}

nav {
    display: grid;
    grid-template-rows: 90px 90px 40px;
    /* background-color: #2dc7d2b4; */
    box-shadow: 10px 5px 10px 0px rgba(74, 73, 73, 0.171);
    position: relative;
    z-index: 100;
    margin-top: 10px;
}

h1 {
    background-image: linear-gradient(135deg, #2DC7D2 0%, #FFFFFF 50%, #D2382D 100%);
    display:inline-block;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;
    transform: rotate(-15deg) translate(30px, 60px);
    margin: 0;
    width:max-content;
    font-family: sharp, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav > div {
    display: flex;
}

.blocker {
    min-width: 350px;
}

h2 {
    align-self: flex-end;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
    margin: 0;
    align-self: start;
}

.button-container {
    border-top: solid 2px rgb(68, 186, 201);
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    background-color: transparent;
    color: rgb(255, 255, 255);
    width: max-content;
    padding: 0px 20px;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
    border: solid 2px rgb(41, 212, 235);
    appearance: none;
    font-weight: 600;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: 2px 3px 8px 2px rgba(255, 255, 255, 0.2);;
}

button:hover {
    cursor: pointer;
    outline: #4e2ad0 solid;
}

.left {
    background-color: rgba(191, 191, 191, 0.475);
    /* background-color: #6acbd473; */
}

.right {
    background-color: rgba(191, 191, 191, 0.475);
    /* background-color: #6acbd473; */
}

#content {
    /* background-color: #44a4ad; */
    /* background-color: #ce3b31be; */

    /* box-shadow: 5px 0px 10px 0px #c59e9b; */
    grid-area: content;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

p, h4 {
    text-align: center;
    margin: 0;
}

h3 {
    text-align: center;
    margin: 0 0 20px 0;
}

.home {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.home > img {
    height: 500px;
    width: auto;
}

.home p {
    padding: 20px 0;
}

.home > div {
    margin-top: 60px;
}

.menu-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: minmax(0, 70px) 1fr minmax(0,70px);
    grid-template-areas: ". top ."
                            ". bottom .";
    background-color: rgba(250, 57, 43, 0.087);
}

.menu-container img {
    height: 200px;
    width: auto;
}

.menu-container .top {
    grid-area: top;
}

.menu-container .bottom {
    grid-area: bottom;
    justify-self: end;
}

.booking-container {
    display: grid;
    grid-template-columns: 1fr 400px 400px 1fr;
}

.booking-container .hours {
    grid-column: 2;
}

.booking-container .booking-info {
    align-self: center;
}

.booking-container p {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: grid;
    grid-template-columns: 200px 100px;
}

img {
    height: auto;
    width: 490px;
    align-self: center;
}